.container{
  border: 2px solid rgb(188, 117, 117);
  border-radius: 10px;
  width: 80%;
  display: block;
  padding: 2rem 1rem;
  margin: 2rem auto;
  max-width: 500px;
  min-height: 50vh;
}

.add-task{
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}

#display-task p button {
  float: right;
}

input{
  width: 80%;
  max-width: 400px;
  padding: 5px;
  text-align: center;
  margin: 1px;
}

.task-item{
  margin: auto;
  border: 1px solid rgb(149, 149, 140);
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
}

#main-heading{
  margin: 0;
  margin-bottom: 1.4rem;
  text-align: center;
  font-weight: 500;
}

.calculator{
  width: 48%;
}

.btn-calci{
  padding: 10px 15px;
  margin: 2px;
  width: 31%;
}

.btn-calci-zero{
  width: 100%;
  padding: 10px 15px;
  margin: 2px 0 ;
}

#calci-input{
  width: 90%;
  display: block;
  margin: auto;
}